.grid-Awards {
    display: grid;
    grid-template-columns: 500px 200px 200px 210px;
    grid-template-rows: 33px 120px 33px 123px 33px 120px 33px 120px;
    text-align: left;
    border: 1px solid grey;
    font-size: 16px;
    column-gap: 30px;
    margin-top: 96px;
}

.grid-Awards__name1 {
    grid-area: 1 / 1 / span 4 / span 1;
    font-size: 22px;
    font-weight: bold;
}

.grid-Awards__name2 {
    grid-area: 5 / 1 / span 4 / span 1;
    font-size: 22px;
    font-weight: bold;
}

.grid-Awards__name--sub1 {
    grid-area: 1 / 2 / span 2 / span 1;
    font-size: 18px;
    font-weight: bold;
}

.grid-Awards__name--sub2 {
    grid-area: 3 / 2 / span 2 / span 1;
    font-size: 18px;
    font-weight: bold;
}

.grid-Awards__name--sub3 {
    grid-area: 5 / 2 / span 2 / span 1;
    font-size: 18px;
    font-weight: bold;
}

.grid-Awards__name--sub4 {
    grid-area: 7 / 2 / span 2 / span 1;
    font-size: 18px;
    font-weight: bold;
}

.grid-Awards__year--sub1 {
    grid-area: 1 / 4 / span 2 / span 1;
    font-size: 16px;
    font-weight: normal;
}

.grid-Awards__year--sub2 {
    grid-area: 3 / 4 / span 2 / span 1;
    font-size: 16px;
    font-weight: normal;
}

.grid-Awards__year--sub3 {
    grid-area: 5 / 4 / span 2 / span 1;
    font-size: 16px;
    font-weight: normal;
}

.grid-Awards__year--sub4 {
    grid-area: 7 / 4 / span 2 / span 1;
    font-size: 16px;
    font-weight: normal;
}