body {
    background-color: #FFFFFF;
    padding-top: 61px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: Mulish, sans-serif;
    color: #111111;
}

.logo {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    justify-content: space-between;
    padding-top: 61px;
    column-gap: 10px;
    font-size: 18px;
    font-weight: bold;
}

.logo a {
    color: #111111;
    text-decoration: none;
}

.footer a {
    color: #111111;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #ffcc22;
}

.header {
    display: grid;
    grid-template-columns: 635px auto;
    justify-content: space-between;
    gap: 30px;
    padding-top: 96px;
}

.header-column1 {
    display: grid;
    grid-template-rows: 50px 201px;
    gap: 20px;
}

.header-column1__title {
    color: #4A4FF2;
    font-size: 22px;
    font-weight: bold;
}

.header-column1__description {
    color: #111111;
    font-size: 40px;
    font-weight: bold;
}

.header-column2 {
    display: grid;
    grid-template-rows: 221px 30px;
    text-align: left;
    font-size: 18px;
    opacity: 0.5;
    color: #111111;
    font-style: italic;
}

.footer {
    display: grid;
    grid-template-columns: 60% 10% 15% 5% 5% 5%;
    justify-content: space-between;
    padding-top: 146px;
    column-gap: 10px;
    font-size: 18px;
    font-weight: bold;
}