.grid-picture {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    margin-top: 156px;
}

.grid-column1 {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 15px;
}

.grid-column2 {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 15px;
}

.grid-column3 {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 15px;
}